@model IEnumerable<RealEstateCore.Models.ViewModel.HouseDetailViewModel>
@{
    ViewData["Title"] = "All";
}
<div class='display-3 opacity-75 p-2 m-2 text-center'> Showroom </div>
<div class='containter-lg my-2 py-2'>
    <div class='row row-cols-md-2 row-cols-sm-1'>

        <div class='col-lg-3 col-md-4 col-sm-12 top-0 position-lg-sticky d-block '>
            <div class='m-2 p-1'>
                <form method="POST" asp-action="Search" asp-controller='Home'>
                    <div class='input-group'>
                        <input type="text" name='search' class='form-control'>
                        <input type="submit" class='btn btn-primary' value="Submit">
                    </div>
                </form>

                <div class=' display-5'>Categories</div>
                <div class='opacity-50'>
                    <div class='p-2 m-1'>
                        <span class='border border-1 border-dark p-1 rounded-2 lh-lg'>Apartment</span>
                        <span class='border border-1 border-dark p-1 rounded-2 lh-lg'>Lone Chin</span>
                        <span class='border border-1 border-dark p-1 rounded-2 lh-lg'>Housing</span>
                        <span class='border border-1 border-dark p-1 rounded-2 lh-lg'>Condo</span>
                    </div>
                </div>

                <div class=' display-5'>Popular Search</div>
                <div class='opacity-50'>
                    <div class='p-2 m-1'>
                        <span class='border border-1 border-dark p-1 rounded-2 lh-lg'>Apartment</span>
                        <span class='border border-1 border-dark p-1 rounded-2 lh-lg'>Lone Chin</span>
                        <span class='border border-1 border-dark p-1 rounded-2 lh-lg'>Housing</span>
                        <span class='border border-1 border-dark p-1 rounded-2 lh-lg'>Condo</span>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-md-8 col-lg-9 col-sm-12'>
            <div class='row row-cols-md-2 row-cols-xl-3'>
            @foreach(var i in Model){
                <div class='col'>
                    <div class='card p-2'>
                        <a asp-controller="Home" asp-action="Detail" asp-route-id=@i.house.Id class='text-decoration-none text-black'>
                            <div class='card-img'>
                                <img src=@i.house.getlink() class='img-fluid'>
                            </div>
                            <div class='card-header text-center'>@i.house.Name</div>
                            <div class='card-body'>
                                <div class='d-inline'>
                                    <ul>
                                        <li class='d-inline bg-danger p-2 rounded-3 text-light'>@i.house.type</li>
                                    </ul>
                                </div>
                                <table border=0 class='w-100'>
                                    <tr>
                                        <td class='align-text-top'><i class="bi bi-tag-fill"></i>price</td>
                                        <td class='text-right'>@i.house.Price</td>
                                    </tr>
                                    <tr>
                                        <td class='align-text-top'><i class="bi bi-geo-alt-fill"></i>address</td>
                                        <td class='text-right'>@i.house.Address</td>

                                    </tr>
                                </table>
                                <div class='p-1 m-1'>
                                    <img src='bed_black_24dp.svg' width=25 height="25">@i.house.number_of_bedroom
                                    <img src='wc_black_24dp.svg' width=25 height="25">@i.house.number_of_bathroom
                                </div>
                            </div>
                        </a>
                        @if(User.Identity.IsAuthenticated){
                            @if(i.is_interested){
                                <a asp-controller="User" asp-action="Add" asp-route-id=@i.house.Id>
                                    <button class='btn btn-primary w-100 rounded-3'>
                                        <i class="bi bi-star mx-2" name='btn-icon'></i>Interested
                                    </button>
                                </a>
                            }else{
                                <a asp-controller="User" asp-action="Add" asp-route-id=@i.house.Id>
                                    <button class='btn btn-primary w-100 rounded-3'>
                                        <i class="bi bi-star mx-2" name='btn-icon'></i>Interest
                                    </button>
                                </a>
                            }
                        }
                        </div>
</div>
             
                
            }
      
</div>
</div>