@model RealEstateCore.Models.ViewModel.HouseDetailViewModel
@{
    ViewData["Title"] = Model.house.Name;
}
<div class='container flex-shrink-0 ok'>
    <div class='d-block mx-auto shadow-sm py-3'>
        <div class='d-md-flex justify-content-between'>
            <div class='w-md-25'>
                <img src='house1.png' class='img-fluid rounded-3 rounded'>
            </div>
            <div class='d-block my-auto'>
                <div class='display-5'>Gandamar house</div>
                <table border=0 class='table table-borderless '>
                    <tbody>
                        <tr>
                            <td colspan="2" class='text-center'>
                                <div class='my-2'>
                                    <i class="bi bi-info-circle mx-2"></i>Infomation
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="bi bi-tag-fill mx-2"></i>Price
                            </td>
                            <td>
                                @Html.DisplayFor(m=>m.house.Price)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="bi bi-geo-alt-fill mx-2"></i>Address
                            </td>
                            <td>
                                @Html.DisplayFor(m=>m.house.Address)
                            </td>
                        </tr>
                        <tr>
                            <td class='p-2'>
                                <i class="bi bi-house mx-2"></i>Type
                            </td>
                            <td>
                                @Html.DisplayFor(m=>m.house.House_Type)
                            </td>
                        </tr>
                    </tbody>
                </table>
                @if (User.Identity.IsAuthenticated)
                {
                    @if(Model.is_interested){
                        <a asp-controller="User" asp-action="Add" asp-route-id=@Model.house.Id>
                        <button class='btn btn-primary w-100 rounded-3'>
                            <i class="bi bi-star mx-2" name='btn-icon'></i>Interested
                        </button>
                    </a>
                    }else{
                        <a asp-controller="User" asp-action="Add" asp-route-id=@Model.house.Id>
                        <button class='btn btn-primary w-100 rounded-3'>
                            <i class="bi bi-star mx-2" name='btn-icon'></i>Interest
                        </button>
                    </a>
                    }
                    
                }

            </div>
        </div>
    </div>
</div>
<div class='m-2 p-2 h5'>
    Detail Pics
</div>

<div class='container fluid d-block my-3 col-12'>
    <div class='w-100 overflow-auto d-flex'>
        <img src='useforweb/rem-re-zero-anime-girl-uhdpaper.com-4K-4.2779-wp.thumbnail.jpg'
            class='img-thumbnail d-inline mx-2'>
        <img src='useforweb/rem-re-zero-anime-girl-uhdpaper.com-4K-4.2779-wp.thumbnail.jpg'
            class='img-thumbnail d-inline mx-2'>
        <img src='useforweb/rem-re-zero-anime-girl-uhdpaper.com-4K-4.2779-wp.thumbnail.jpg'
            class='img-thumbnail d-inline mx-2'>
        <img src='useforweb/rem-re-zero-anime-girl-uhdpaper.com-4K-4.2779-wp.thumbnail.jpg'
            class='img-thumbnail d-inline mx-2'>
    </div>
</div>
<hr class='opacity-25 m-1'>
<div class='display-4'>
    More Information About House
</div>
<div class='d-block mx-auto'>
    <table class='table table-bordered my-2'>
        <tr>
            <td class='p-2'>
                No of bedrooms
            </td>
            <td class='p-2'>
                @Html.DisplayFor(m=>m.house.number_of_bedroom)
            </td>
        </tr>
        <tr>
            <td class='p-2'>
                No of Masterrooms
            </td>
            <td class='p-2'>
                @Html.DisplayFor(m=> m.house.number_of_bathroom)
            </td>
        </tr>
        <tr>
            <td class='p-2'>
                No of Showers
            </td>
            <td class='p-2'>
                @Html.DisplayFor(m=>m.house.number_of_bathroom)
            </td>
        </tr>
        <tr>
            <td class='p-2'>
                Decoration and funiture Ready
            </td>
            <td>
                No
            </td>
        </tr>

    </table>
</div>
<hr class='disabled opacity-25'>


</div>
